@import "../../common/styles/sass/Mixins";
@import "../../common/styles/sass/Variables";

.nav {
  @include flex(row, space-around, center);
  width: 400px;
  background-color: black;
  opacity: 0.9;
  @media screen and (max-width: 400px) {
    display: none;
  }

  & a {
    @include text(Arial, 18px, 27px, 400);
    text-decoration: none;
    color: #9c9ca2;
    text-transform: uppercase;
    display: block;
    position: relative;
    letter-spacing: 0;

    &:hover {
      color: #ccc;
    }
  }

  .active {
    color: $mainColor;
  }
}




