.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px){
    .container {
        width: 100%
    }
}

.title {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 600;
    font-family: Jost;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 18px;
    position: relative;
    left: -5px;
    margin-bottom: 80px;
    margin-top: 84px;
}

@media screen and (max-width: 1120px) {
    .title {
        font-size: 33px;
    }
}

.title h3 {
    margin: 0;
}



.title h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 162px;
    height: 8px;
    background-color: #000;
    left: 50%;
    transform: translate(-50%, 50%);
}

@media screen and (max-width: 1120px) {
    .title h3:after {
        width: 118px;
        height: 5px;
    }
}

.nextSection {
    width: 90%;
    margin: 0 auto;
    margin-top: 78px;
    height: 40px;
    position: relative;
}

@media screen and (max-width: 480px) {
    .nextSection {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1040px) {
    .nextSection {
        padding: 0 20px;
    }
}

.nextSection span {
    display: block;
    height: 3px;
    position: relative;
    top: 50%;
    margin-top: -2px;
}
.nextSection span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #000;
}

