.container {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 600;
    font-family: Jost;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 29px;
    position: relative;
    left: -5px;
    margin-bottom: 30px;
}

.title h3 {
    margin: 0;
}



.title h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 200px;
    height: 10px;
    background-color: #000;
    left: 50%;
    transform: translate(-50%, 50%);
}

@media screen and (max-width: 1400px) {
    .title h3:after {
        width: 150px;
        height: 6px;
    }
}