.contactsBlock {
    background-color: #ffd7c1;
    padding: 50px 0;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.contactsForm {
    width: 280px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media screen and (max-width: 351px){
    .contactsForm {
        width: 100%;
    }
}


