@import "./../common/styles/sass/Variables";
@import "./../common/styles/sass/Mixins";

.contactsBlock {
  padding: 50px 0;

  .contactsContainer {
    @include flex (column, space-around, center);

    .contactsForm {
      @include flex (column, space-between, center);
      max-width: 650px;
      @media screen and (max-width: 634px) {
        width: 98%;
      }

      .nameEmailContainer {
        @include flex (row, space-between, center);
        @media screen and (max-width: 634px) {
          flex-direction: column;
        }

        & input {
          width: 48%;
          @media screen and (max-width: 634px) {
            width: 100%;
          }
        }
      }

      .contactsInput {
        @include text($fontFamily, 18px, 70px, 100);
        @include size(100%, 55px);
        display: block;
        border: 2px solid #000;
        padding: 0 20px !important;
        margin-bottom: 16px;
      }

      & textarea {
        @include text($fontFamily, 18px, 70px, 100);
        width: 100%;
        display: block;
        border: 2px solid #000;
        padding: 0 20px !important;
        min-height: 160px;
        margin-bottom: 20px;
      }

      & button {
        @include text($fontFamily, 15px, 26px, 600);
        display: block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 13px 20px;
        background-color: $mainColor;
        color: $textColor;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        border: 2px solid $mainColor;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      }

      & button:hover {
        @include text($fontFamily, 15px, 26px, 600);
        background-color: $bgColor;
        color: $mainColor;
      }
    }
  }
}










