.contactsBlock {
    background-color: #ffd7c1;
    padding: 50px 0;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.contactsForm {
    width: 280px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media screen and (max-width: 351px) {
    .contactsForm {
        width: 100%;
    }
}

.inputContainer {
    width: 100%;
    position: relative;
}

.inputContainer input {
    position: relative;
    z-index: 3;
    width: 100%;
    display: block;
    border-radius: 1px;
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 22px;
    outline: none;
    padding: 0 30px !important;
    line-height: 70px;
    height: 70px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    font-family: Jost, sans-serif;
    vertical-align: middle;
    transition: all .3s ease;
}

.inputContainer span {
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    line-height: 70px;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    font-weight: 400;
    color: #000;
    transform-origin: left;
    z-index: 1;
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 150ms cubic-bezier(.4, 0, .2, 1);
}

.activeInputContainer input {
    position: relative;
    z-index: 3;
    width: 100%;
    display: block;
    border-radius: 1px;
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 22px;
    outline: none;
    padding: 0 30px !important;
    line-height: 70px;
    height: 70px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    font-family: Jost, sans-serif;
    vertical-align: middle;
    transition: all .3s ease;
    outline: none;
    border-color: #ffcc0d;
}

.activeInputContainer span {
    position: absolute;
    left: 0;
    font-size: 22px;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    font-weight: 400;
    transform-origin: left;
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 150ms cubic-bezier(.4, 0, .2, 1);
    transform: scale(.75) translateY(-85%);
    color: #ffcc0d;
    background: white;
    z-index: 33;
    padding-right: 30px;
    margin-left: 10px;
    top: 0;
    height: 25px;
    line-height: 25px;
}

