.contactsBlock {
    padding: 50px 0;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.contactsForm {
    width: 280px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media screen and (max-width: 351px) {
    .contactsForm {
        width: 100%;
    }
}


.contactsInput {
    position: relative;
    z-index: 3;
    width: 100%;
    display: block;
    border-radius: 1px;
    border: 2px solid #000;
    color: #000;
    font-size: 22px;
    outline: none;
    padding: 0 30px !important;
    line-height: 70px;
    height: 70px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    font-family: Jost, sans-serif;
    vertical-align: middle;
    transition: all .3s ease;
}

.contactsContainer button {
    display: block;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 20px 20px;
    background-color: var(--main-color);
    color: var(--text-color-for-main-bg);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--main-color);
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.contactsContainer button:hover {
    display: block;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 20px 20px;
    background-color: white;
    color: #ffcc0d;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--main-color);
}