@import "./../../common/styles/sass/Mixins";
@import "./../../common/styles/sass/Variables";

.skill {
    @include flex(column, center, center);
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    & img {
        @include size(70px, 70px);
    }
    .skillTitle {
        @include text ('Jost', 30px, 1.2, 600);
        padding: 0;
        margin-bottom: 17px;
        @media screen and (max-width: 768px) {
                font-size: 24px;
        }
    }
}






