@import "../../common/styles/sass/Mixins";
@import "../../common/styles/sass/Variables";

.burgerNav {
  width: 100%;
  @media screen and (min-width: 400px) {
    display: none;
  }

  .burgerNavItems {
    @include flex(column, space-between, center);
    background-color: black;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 10px;
    transform: translate(0, -130px);
    transition: 0.7s;
    height: 0;

    a {
      @include text(Arial, 18px, 27px, 400);
      text-decoration: none;
      color: #9c9ca2;
      text-transform: uppercase;
      display: block;
      letter-spacing: 0;
      &:hover {
        color: #ccc;
      }
    }
    .active {
      color: $mainColor;
    }
  }
  .show {
    height: 130px;
    transform: translate(0, 0);
  }

  .burgerButton {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 15px;
    right: 26px;
  }
}




