.skillsBlock {
  padding: 50px 0;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 629px) {
        justify-content: center;
      }
    }
  }
}




