.skillsBlock {
    background-color: #e3ffd4;
    padding: 50px 0;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #a5d5ff;
}

.skills {
    border: 1px solid;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}