@import './../common/styles/sass/Mixins';

.skillsBlock {
  padding: 50px 0;

  .skillsContainer {
    @include flex (column, flex-start, center);

    .skills {
      @include flex (row, space-between, center);
      box-sizing: border-box;
      width: 100%;
      flex-wrap: wrap;
      @media screen and (max-width: 629px) {
        justify-content: center;
      }
    }
  }
}




