.mainBlock {
    min-height: 100vh;
    background-color: #ffdef0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainContainer {
    justify-content: space-around;
}

.greeting {
    width: 50%;
    background-color: beige;
}

.greeting h3 {
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 29px;
    position: relative;
    text-transform: uppercase;
    left: -5px;
    margin-bottom: 43px;
    font-family: Jost;
    color: #0e090d;
}

.greeting h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 200px;
    height: 10px;
    background-color: #000;
}

@media screen and (max-width: 1400px){
    .greeting h3::after {
        width: 150px;
        height: 6px;
    }
}


@media screen and (max-width: 1400px){
    .greeting h3 {
        font-size: 50px;
    }
}

.greeting p {
    font-family: Jost,sans-serif;
    font-size: 22px;
    line-height: 1.37;
    font-weight: 400;
    color: #000;
    word-break: break-word;
    letter-spacing: 0;
    padding: 0;
    margin-bottom: 43px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: beige;
}

