.mainBlock {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mainContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1120px) {
    .mainContainer {
        width: 100%;
    }
}

.greeting {
    width: 50%;
}

.greeting h3 {
    margin: 0;
    padding: 0;
    font-size: 55px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 26px;
    position: relative;
    text-transform: uppercase;
    left: -5px;
    margin-bottom: 39px;
    font-family: Jost;
    color: #0e090d;
}

@media screen and (max-width: 1120px) {
    .greeting h3 {
        font-size: 40px;
    }
}

.greeting h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 160px;
    height: 8px;
    background-color: #000;
}

@media screen and (max-width: 1400px) {
    .greeting h3::after {
        width: 130px;
        height: 5px;
    }
}

.greeting p {
    font-family: Jost, sans-serif;
    font-size: 18px;
    line-height: 1.37;
    font-weight: 400;
    color: #000;
    word-break: break-word;
    letter-spacing: 0;
    padding: 0;
    margin-bottom: 43px;
}

@media screen and (max-width: 1120px) {
    .greeting p {
        font-size: 18px;
    }
}

.photoContainer {
    position: relative;
}

@media screen and (max-width: 1120px) {
    .photoContainer {
        margin-right: 90px;
    }
}

.photoBlock {
    position: relative;
    border: 8px solid black;
    padding: 20px;
    z-index: 11;

}

.photoContainer img {
    position: relative;
    display: block;
    width: 360px;
    margin-bottom: 0px;
    z-index: 10;
}

.dotsLayer {
    position: absolute;
    display: block;
    background-color: #ffcc0d;
    width: 460px;
    height: 380px;
    z-index: 1;
    top: 60px;
    left: -23px;
}

