@import './../../common/styles/sass/Variables';
@import './../../common/styles/sass/Mixins';

.projectContainer {
  @include flex(column, flex-start, center);
  width: 450px;
  text-align: center;
  margin-bottom: 15px;

  &:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  .projectImage {
    @include flex(column, center, center);
    @include size(100%, 300px);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 10px;

    &:after {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.1;

    }

    &:hover {
      background-color: white;
      opacity: 0.9;
    }

    .projectLink {
      @include text(Arial, 18px, 26px, 600);
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 20px 20px;
      background-color: $mainColor;
      color: $textColor;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      border: 2px solid $mainColor;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      position: relative;
      z-index: 1;

      &:hover {
        background-color: $bgColor;
        border: 2px solid $mainColor;
      }
    }
  }

  .projectTitle {
    @include text('Jost', 30px, 1.2, 600);
    padding: 0;
    margin-bottom: 17px;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  .projectDescription {
    @include text($fontFamily, 18px, 1.37, 400);
    letter-spacing: 0;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
    word-break: break-word;
  }
}







