@import "./../common/styles/sass/Mixins";
@import "./../common/styles/sass/Variables";

.footerBlock {
  padding: 50px 0;
  text-align: center;

  .footerContainer {
    @include flex (column, center, center);

    :nth-child(1) {
      @include text ('Jost', 50px, 1, 600);
      text-transform: uppercase;
      margin-bottom: 30px;
      @media screen and (max-width: 1120px) {
          font-size: 33px;
      }
    }

    .footerLinksContainer {
      @include flex (row, space-around, center);
      width: 300px;

      & a {
        @include size(45px, 45px);
        display: block;
        padding: 5px;
        border: 2px solid #000;
        color: $textColor;
        text-decoration: none;
        position: relative;
        margin-bottom: 10px;

        & img {
          @include size(30px, 30px);
        }
      }

      & a:hover {
        background-color: white;
        color: $mainColor;
        border: 2px solid $mainColor;
      }
    }
    .copyright {
      @include text ($fontFamily, 18px, 1.37, 400);
      letter-spacing: 0;
      background: transparent;
      vertical-align: baseline;
      outline: none;
      word-break: break-word;
    }
  }

}
