@import "./src/common/styles/sass/Mixins";

.projectsBlock {
    padding: 50px 0;
    .projectsContainer {
        @include flex(column, flex-start, center);
        .projects {
            @include flex(row, space-around, flex-start);
            width: 100%;
            flex-wrap: wrap;
        }
    }
}



